.navbar {
  min-height: 50px;
  transition: 250ms opacity ease-in-out;
  -webkit-transition: 250ms opacity ease-in-out;
  border: 0;
  border-bottom: $sp-navbar-bottom-width solid $sp-navbar-divider-color;
}

.navbar-fade {
  opacity: 0.4;
}

.navbar-inverse .navbar-toggle {
  border-color: $sp-navbar-toggle-border-color;
}

header[role="banner"],
.nav > li > a {
  max-height: 50px;
}

.nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav > li > a span.fa {
  margin-left: 0.2rem;
}

.responsive-tablet {
  .nav > li > a {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}

.navbar-brand {
  height: 50px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navbar-tagline {
  font-size: 0.75rem;
  opacity: 0.75;
}

.navbar-brand img,
.navbar-brand span {
  max-height: $sp-logo-max-height;
  max-width: $sp-logo-max-width;
  overflow: hidden;
}

.responsive-tablet {
  .navbar-brand img,
  .navbar-brand span {
    max-width: $sp-logo-mobile-max-width;
  }
}

.breadcrumb-container {
  background-color: $panel-bg;
}

.navbar-inverse.is-native {
  background-color: #405060;
}

nav {
  margin-bottom: 0px;
  border-radius: 0px;

  .toggle-dropdown {
    height: 50px;
  }
}

.navbar-right {
  padding-right: 0px;
  padding-left: 7px;
}

.navbar-nav {
  margin: 0px;
}

.scrollable-dropdown {
  max-height: 80vh;
  overflow: auto;
  height: auto;
}

.is-native {
  .scrollable-dropdown {
    max-height: 100vh;
    overflow: scroll;
    height: auto;
  }
}

.responsive-desktop {
  .navbar-right {
    display: flex !important;
    height: auto !important;
  }
}

.responsive-tablet {
  .navbar-toggle {
    display: block;
  }
  .navbar-header {
    float: none;
  }
  .navbar-left,
  .navbar-right {
    float: none !important;
  }
  .navbar-nav {
    float: none !important;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media screen and (-ms-high-contrast: active), (forced-colors: active) {
  .navbar-brand,
  .navbar-nav > li > a,
  .skip-link,
  .btn.btn-primary,
  .btn.btn-danger,
  .navbar-inverse .navbar-toggle {
    &:focus {
      outline-offset: -4px !important;
    }
  }
}
